@use "../utilities/variables";

.estilo-footer-jesu{
    background-color: variables.$color-fondo-alternativo;
    color: variables.$color-texto-base;
    border-top: 1px solid variables.$color-bordes-y-lineas;
    

    .logo-footer{
        max-width: 150px;
    }
    h4{
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 1.2rem;
    }
    
    .newsletter{
         form{
            h4{

            }
            p{

            }
            .newsletter1{
                .btn-estilo-jesu{

                }
            }
         }

    }
    
}
.boton-secundario{
    background-color: variables.$color-boton-secundario;
    color: #FFFF;
    border-color: variables.$color-bordes-y-lineas ;
    &:hover{
        color:#FFFF ;
        background-color: variables.$hover-boton-secundario;
         border-color: variables.$color-bordes-y-lineas;
    }
}