@use "../utilities/variables";


.estilo-footer-jesu{
    background-color: rgb(170, 201, 117);
}
.logo-navbar{
    width: 95px
}
.btn-estilo-jesu{
    background-color: rgb(255, 255, 255);
}

.estilo-footer-jesu{
    .logo-navbar{

    }
    h4{

    }
    ul{
        li{
            a{

            }
        }
    }
    .newsletter{
         form{
            h4{

            }
            p{

            }
            .newsletter1{
                .btn-estilo-jesu{

                }
            }
         }

    }
    
}