.titulo-page{
    text-align: center;
    margin: 30px;
}
.card-estilo-jesu{
    max-width: 1200px;
    width: 100%;
    height: auto;
}
.texto-card-jesu{
    align-items: center;
}
.titulo-parrafo{
    text-align: center;
}

