@use "../utilities/variables";

.bg-estilo-jesu{
    background-color: variables.$color-fondo-alternativo;
}
.logo-navbar{
    width: 75px;
}

.boton-secundario{
    background-color: variables.$color-boton-secundario;
    color: #FFFF;
    border-color: variables.$color-bordes-y-lineas ;
    &:hover{
        color:#FFFF ;
        background-color: variables.$hover-boton-secundario;
         border-color: variables.$color-bordes-y-lineas;
    }
}
.buscador:focus{
box-shadow: variables.$color-bordes-y-lineas;
outline: none;
}

