@use "../utilities/variables";
@use "../utilities/mixin";


//Fondo
.bg-estilo-jesu { background-color: variables.$color-fondo-alternativo; }

//Logo
.logo-navbar { width: 95px; }

//Buscador
.buscador { border-color: variables.$color-bordes-y-lineas; }
.buscador:focus {
  border-color: variables.$color-boton-secundario;
  box-shadow: 0 0 0 0.2rem rgba(90,139,160,0.25);
  outline: none;
}

