@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

.bg-estilo-jesu {
  background-color: #F3F1EA;
}

.logo-navbar {
  width: 95px;
}

.boton-secundario {
  background-color: #5A8BA0;
  color: white;
  border-color: #D7D7D7;
}
.boton-secundario:hover {
  color: white;
  background-color: #476D82;
  border-color: #D7D7D7;
}

.buscador:focus {
  box-shadow: #D7D7D7;
  outline: none;
}

.texto-card-jesu {
  align-items: center;
}

.banner-estilo-jesu {
  border: #F3F1EA;
}

.texto-card-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 2rem;
  max-width: 60%;
}

.card-title {
  font-size: 4.5rem;
}

.h2 {
  font-size: 2rem;
}

.tabla-estilo {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 2rem;
}
.tabla-estilo table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1rem;
}
.tabla-estilo table th {
  font-size: 34px;
  font-weight: 600;
  color: #4B4F46;
  padding-bottom: 1rem;
}
.tabla-estilo td {
  padding: 1rem;
  vertical-align: top;
}
.tabla-estilo td h3 {
  font-size: 27px;
  margin-bottom: 0.5rem;
  color: #4B4F46;
}
.tabla-estilo td p {
  font-size: 19px;
  line-height: 1.5;
  color: #4B4F46;
}

.titulo-page {
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  max-width: 1000px;
  color: #4B4F46;
}
.titulo-page h2 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}
.titulo-page p {
  font-size: 19px;
}

.estilo-footer-jesu {
  background-color: #F3F1EA;
  color: #4B4F46;
  border-top: 1px solid #D7D7D7;
}
.estilo-footer-jesu .logo-footer {
  max-width: 150px;
}
.estilo-footer-jesu h4 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
.boton-secundario {
  background-color: #5A8BA0;
  color: white;
  border-color: #D7D7D7;
}
.boton-secundario:hover {
  color: white;
  background-color: #476D82;
  border-color: #D7D7D7;
}

.boton, .boton-primario {
  width: 30%;
  margin: auto;
  font-weight: 600;
  color: white;
  border-color: #F3F1EA;
}

.boton-primario {
  background-color: #2E7D5E;
  padding-top: 0.65rem;
  padding-bottom: 0.65rem;
  font-size: 18px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.boton-primario:hover {
  background-color: #25664D;
  border-color: #F3F1EA;
}
.boton-primario:active {
  background-color: #1C523C;
}

.info-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #E8F0ED;
  width: 100%;
  height: 300px;
}
.info-card-container .info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #4B4F46;
  width: 1150px;
}
.info-card-container .info-card h3 {
  font-size: 35px;
  margin: 9px;
}
.info-card-container .info-card p {
  font-size: 19px;
  margin: 9px;
}
.info-card-container .info-card .boton-primario {
  margin: 15px;
}

.info-card-container-sf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 300px;
}
.info-card-container-sf .info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #4B4F46;
  width: 1150px;
}
.info-card-container-sf .info-card h3 {
  font-size: 35px;
  margin: 9px;
}
.info-card-container-sf .info-card p {
  font-size: 19px;
  margin: 9px;
}
.info-card-container-sf .info-card .boton-primario {
  margin: 15px;
}

.card-mediana {
  max-width: 1200px;
  width: 100%;
  margin-bottom: 4rem;
  margin-top: 4rem;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #E8E8E8;
  color: #4B4F46;
  background-color: #F3F1EA;
}
.card-mediana .row {
  height: 100%;
}
.card-mediana .col-md-6 {
  height: 100%;
}
.card-mediana img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}
.card-mediana .card-body {
  padding: 3rem;
}
.card-mediana .card-body h3 {
  font-size: 35px;
}
.card-mediana .card-body p {
  font-size: 19px;
  margin-top: 20px;
}

.card-horizontal {
  width: 100%;
  border: none;
  border-radius: 0%;
  overflow: hidden;
  text-align: center;
}
.card-horizontal .card-img-top {
  width: 100%;
  height: auto;
  display: block;
}
.card-horizontal .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: white;
  color: #4B4F46;
  padding: 4rem;
}
.card-horizontal .card-body h3 {
  font-size: 35px;
  margin-bottom: 1.5rem;
}
.card-horizontal .card-body p {
  font-size: 19px;
  margin-bottom: 1.5rem;
}
.card-horizontal .card-body .boton-primario {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.card-para-blogs {
  padding: 2rem;
}
.card-para-blogs header {
  margin: 1rem;
  text-align: center;
}
.card-para-blogs header h2 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  color: #4B4F46;
  margin-bottom: 1.5rem;
}
.card-para-blogs header p {
  font-size: 19px;
  color: #4B4F46;
  margin-bottom: 3rem;
  max-width: 1200px;
}
.card-para-blogs .card-jesu {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #E8E8E8;
  background-color: #F3F1EA;
  color: #4B4F46;
}
.card-para-blogs .card-jesu .card-body-jesu {
  padding: 1.5rem;
}
.card-para-blogs .card-jesu .card-body-jesu .card-title {
  font-size: 35px;
}
.card-para-blogs .card-jesu .card-body-jesu .card-text {
  font-size: 19px;
  margin-top: 20px;
}

.container header {
  margin: 1rem;
  text-align: center;
}
.container header .seccion-titulo {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  color: #4B4F46;
  margin-bottom: 1.5rem;
}
.container header .seccion-subtitulo {
  font-size: 19px;
  color: #4B4F46;
  margin-bottom: 3rem;
  max-width: 1200px;
}
.container .row .col .card-chica {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #E8E8E8;
  background-color: #F3F1EA;
  color: #4B4F46;
}
.container .row .col .card-chica .card-title {
  font-size: 30px;
}

.card-texturas {
  background-color: white;
  border-radius: 20px;
  border: 1px solid #E8E8E8;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 1.5rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.card-texturas .card-body {
  padding: 1.5rem;
  color: #4B4F46;
}
.card-texturas .card-body .card-title {
  font-size: 40px;
}
.card-texturas .card-body .card-text {
  font-size: 22px;
}

.card-btn {
  background-color: #E8F0ED;
  color: #4B4F46;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #E8E8E8;
  max-width: 1200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.card-btn .card-body {
  padding: 2rem;
}
.card-btn .card-body .card-title {
  font-size: 40px;
}
.carrusel-jesu .container {
  max-width: 950px;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.carrusel-jesu .container .card {
  color: #4B4F46;
  border: 1px solid #E8E8E8;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
}
.carrusel-jesu .container .card .card-header {
  font-size: 25px;
  font-weight: 600;
  background-color: white;
  padding: 1rem 1.5rem;
}
.carrusel-jesu .container .card .card-body {
  font-size: 19px;
  background-color: white;
  padding: 1rem 1.5rem;
}
.carrusel-jesu .container .card .card-body .blockquote-footer {
  margin-top: 1.5rem;
}
.carrusel-jesu .icono {
  background-color: #2E7D5E;
}

.carrusel-estilo {
  margin-top: 4rem;
}
.carrusel-estilo .j-esilo h4 {
  font-size: 42px;
  font-weight: 600;
}
.carrusel-estilo .j-esilo p {
  font-size: 28px;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
